@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

p, a, ul, li, h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', serif;
}

.post p {
  padding-bottom: 1rem;
}

.post h1 {
  font-size: 2rem;
}

.post .line {
  height: 3px;
  width: auto;
  background-color: black;
  margin-bottom: 2rem;
}
